.map {
height:300px;
}
footer {
    text-align:center;
}
.back {
display:none;
}
@media all and (max-width: 360px) {
    .ui-grid-a .ui-block-a,
    .ui-grid-a .ui-block-b {
        width: 100%;
        float: none;
    }
    .back {
        display:block;
    }
}
.qr {
    display: block;
    margin: auto;
}
